<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for i in 1..4 %}
        <li data-target="#carouselExampleIndicators" data-slide-to="0" {% if i.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner bg-light">
        {% for i in 1..4 %}
        <div class="carousel-item {% if i == 1 %}active{% endif %}">
            <img src="/themes/site/assets/img/bg-banner-01.jpg" class="img-fluid">
        </div>
     {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>