<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">Back To The Site</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 w-full">
            <li class="nav-item active">
                <a class="nav-link" href="#">Admin Area <span class="sr-only">(current)</span></a>
            </li>
            <li class="navbar-nav ml-auto mt-lg-0">
                <a class="nav-link" data-request="onLogout" data-request-success="logout(data)">logout</a>
            </li>
        </ul>
    </div>
</nav>
<script>
    function logout(data) {
        window.location.replace(data);
    }
</script>